.swiper-button-prev{
     top: 377px !important;
     left: 0px !important;
     color:  #86371C;

}
.swiper-button-next{
     top: 377px !important;
     left: 55px !important;
     color:  #86371C;
}
